body {
  background: black;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  /* writing-mode: vertical-lr; */
}

.grid-item {
  text-align: center;
  color: black;
  /* color: white; */
  white-space: nowrap;
  display: block;
  padding: 0;
  margin: 0;
  /* line-height: 90%; */
  user-select: none;
  /* filter: drop-shadow(0 0 2em currentColor) drop-shadow(0 0 2em currentColor); */
  /* -webkit-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -ms-transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  transition: all 1.8s ease; */
}
 
.matrix-menu {
  font-family: 'Courier New', Courier, monospace;
  color: greenyellow;
  cursor: pointer;
}
